.memory {
  margin: 0px 10px 0 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  border-radius: 5px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}

.memory-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  background-color: #b5b4fa;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 2px solid #b596fa;
  color: rgb(59, 59, 59);
  flex: 0 0 9em;
  min-width: 60px;
  flex-shrink: 1;
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 5px;
  height: 30px;
}

button:hover {
  cursor: pointer;
}

select:hover {
  background-color: rgb(246, 246, 246);
  cursor: pointer;
}

.year {
  font-size: 150%;
}

.memory-right {
  flex-grow: 1;
  background-color: #c4d1f5;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgb(0, 0, 0);
}

.delete-button {
  margin-top: 3em;
}

.spinner {
  position: fixed;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-top-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
#app-name {
  width: 100%;
  font-size: 3em;
  background: #513ea5;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

#calendar-times {
  display: flex;
  flex-direction: row;
  background-color: rgb(198, 181, 245);
  height: 1420px;
}

#date {
  top: 15px;
  position: absolute;
  display: inline-block;
  left: 770px;
  font-size: .8em;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
}
  
#time-selectors {
  flex-shrink: 0;
  height: 500px;
  width: 270px;
  margin-top: 30px;
  justify-content: center;
  padding-left: 40px;
}

#insert {
  margin-top: 30px;
  margin-left: 80px;
  width: 100px;
  height: 45px;
  border-radius: 15px;
  justify-content: center;
  background-color: rgb(10, 10, 173);
  border: 4px solid rgb(118, 119, 195);
  color: white;
}

#insert:hover {
  background-color: rgb(7, 7, 110);
}

.time {
  text-align: center;
  height: 50px;
}

.time-block {
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #000;
  z-index: 0;
  width: 99.75%;
}
  
#today {
    font-size: 2.5em;
    height: 70px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
  
.time-slot {
  position: absolute;
  left: 1px;
  right: 10px;
  color: white;
}
  
.selector {
    display: inline-block;
    border-radius: 15px;
    width: 110px;
    color: brown;
}

.times {
    width: 90px;
    border: 0 solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: white;
    background-color: rgb(10, 10, 173);
    border: 4px solid rgb(118, 119, 195);
    padding-left: 6px;
}

.times:hover {
    background-color: rgb(7, 7, 110);
}

#second-times {
    width: 90px;
    border: 0 solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: white;
    background-color: rgb(10, 10, 173);
    border: 4px solid rgb(118, 119, 195);
    padding-left: 6px;
}

select {
    height: 45px;
    width: 90px;
    margin: 10px;
}

select:focus {
    min-width: 90px;
}

#select-between {
    display: inline-block;
    width: 30px;
    height: 75px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#event {
    margin-top: 15px;
    margin-left: 10px;
    width: 230px;
    height: 150px;
    border: 4px solid rgb(118, 119, 195);
}

#left-cal {
  text-align: right;
  padding-top: 118px;
  width: 60px;
  background-color: #e9feff;
  flex-shrink: 0;
  opacity: 0.9;
}
  
#right-cal {
  position: relative;
  width: 90%;
  background-color: #e9feff;
  opacity: 0.9;
}

.reset-input {
  color: rgb(151, 151, 151);
}

.reset-input {
  color: rgb(151, 151, 151);
}

.reset-input:hover {
  cursor: pointer;
  color: rgb(85, 85, 85);
}

.delete-button:hover {
  cursor: pointer;
}

.loader {
  margin-left: 100px;
  display: none;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

  /* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}