#calendar-times {
    display: flex;
    flex-direction: row;
}

.time {
    height: 30px;
    width: 50px;
}

.time-block {
    height: 30px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #000;
    z-index: 0;
}

.example {
    bottom: 660px;
    height: 90px;
    position: relative;
    background-color: brown;
}

#left-cal {
    margin-top: 17px;
}

#right-cal {
    position: relative;
}