#swatches-root {
    margin: 10px;
}

#calendar-times {
    display: flex;
    flex-direction: row;
}

.time {
    height: 50px;
    width: 50px;
}

.time-block {
    height: 50px;
    
    box-sizing: border-box;
    border: 1px solid #000;
    z-index: 0;
}

#today {
    height: 30px;
    margin-left: 50px;
}

.example {
    position: absolute;
    left: 1px;
    right: 10px;
    background-color: rgb(186, 10, 209);
    color: white;
}

#left-cal {
    margin-top: 37px;
}

#right-cal {
    position: relative;
    width: 90%;
}